<div class="recipe-overview" {{ on "click" this.toggleExpand }}>
  {{!-- this is a prop --}}
  <h3>
    <span class="clickable favorite-icon" {{on "click" this.toggleFavorite}}>
      {{#if this.isFavorite}}
        <span class="favorite star">★</span>
      {{else}}
        <span class="favorite">☆</span>
      {{/if}}
    </span>
    {{@title}}
  </h3>
  {{#if this.isExpanded}}
    <p class="recipe-detail">{{@description}}</p>
    <LinkTo @route="recipes/details" @model={{@id}} class="details-link">Details</LinkTo>
  {{/if}}
</div>